body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: aliceblue;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header .logo img {
    max-width: 80px;
    border-radius: 50%;
    margin-left: 40px;
}

.navbar-blue a {
    color: black;
    margin-right: 180px;
    font-weight: bold;
}

.navbar-blue a:hover {
    color: #ecf0f1;
}

.navbar-blue .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    margin-left: -44px;
}

.navbar-blue .dropdown-item {
    margin: 0;
    padding: 10px 20px;
    color: black;
}

.navbar-blue .dropdown-menu {
    margin: 0;
}

#creator-info h2 {
    margin-top: 10px;
    margin-left: 350px;
}

.profile-photo img {
    display: flex;
    float: left;
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 60px;
    margin-left: 60px;
}

#creator-info h2 {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}


#creator-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.creator-details {
    text-align: justify;
}

#goals {
    margin-top: 50px;
    max-width: 1400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}


#goals h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

#goals p {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
}

#contact-icons img {
    width: 40px;
    margin: 0 10px;
}

.contact-icons-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.contact-icons-list li {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.contact-icons-list a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}


footer {
    background-color: #3498db;
    text-decoration: none;
    margin-top: 50px;
    color: #fff;
    padding: 10px;
    text-align: center;
}


