.container-fluid {
    background-color: #f0f8ff; /* Change to a lighter blue for better readability */
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header .logo img {
    max-width: 80px;
    border-radius: 50%;
    margin-left: 40px;
}

.navbar-blue a {
    color: black;
    margin-right: 180px;
    font-weight: bold;
}

.navbar-blue a:hover {
    color: #ecf0f1;
}

.navbar-blue .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    margin-left: -44px;
}

.navbar-blue .dropdown-item {
    margin: 0;
    padding: 10px 20px;
    color: #333;
}

.navbar-blue .dropdown-menu {
    margin: 0;
}

#carousel {
    margin-top: 20px;
    border-radius: 10px;
}

section#home {
    text-align: center;
    background-color: white;
    color: #333;
    padding: 30px;
}

h2 {
    text-align: center;
}

section {
    background-color: #fff;
    padding: 30px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}